{% extends 'base.html.twig' %}

{% block title %}Guinot-immobilier{% endblock %}

{% block body %}

<div class = "jumbotron">
       <article>
            <h2> FORMULAIRE D'ENREGISTREMENT DE NOUVEL ARTICLE </h2>
            <div class = "metadata"> 
            </div>         
       </article>      
</div>
            <div class="container">

                {{form_start(formVente)}}

                {{form_widget(formVente)}}

                <button type="submit" class="btn btn-success ">Register</button>

                {{form_end(formVente)}}

        </div>

{% endblock %}
